@charset "utf-8";
/*****单据日志******/
.log_box{
  height: 300px;
  width: 300px;
  position: absolute;
  top: -300px;
  background: #fff;
  left: -200px;
  border: 1px solid #666;
  overflow-y: auto;
  border-radius: 5px;
  display: none;
}
.log_box h4{
  background: #5184f0;
  height: 35px;
  line-height: 35px;
  color: #fff;
  margin:0;
  padding-left: 10px;
}
.log_div{
  position: relative;
  padding: 0 5px 10px 5px;
  color: #000;
}
.log_img{
  position: absolute;
  right: 10px;
  top: 10px;
}
.log_img img{
  height: 70px;
  width: 70px;
}
.log_box p font{
  display: inline-block;
  text-align: right;
  width: 100px;
  color: #a7a7a7;
}
.log_dashed{
  border-bottom: 1px dashed #666;
  height: 15px;
  margin-bottom: 10px;
  border-color: #ccc;
}
.log_time{
  position: absolute;
  top: 5px;
  left: 25px;
  display: block;
  background: #fff;
}

.billslog {
  padding-right: 10px;
  color: blue;
  display: inline-block;
  position: relative;
}