

.login {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
    }
  }
  .prefixIcon {
    font-size: 12px;
    color: #333;
  }
  .submit {
    width: 100%;
    margin-top: 24px;
  }
}
