.ui-th-ltr {
	text-align: center;
}

.grid-title {
	clear: both;
	font-size: 24px;
	text-align: center;
	width: 100%;
}

.grid-head {
	width: 100%;
	font-size: 16px;
	height: 30px;
}

.grid-head .grid-date {
	display: inline-block;
	float: left;
	padding-left: 20px;
}

.grid-head .grid-yuan {
	display: inline-block;
	float: right;
	padding-right: 30px;
}

.grid-status {
	position: absolute;
	top: 60px;
	right: 50px;
	width: 500px;
	height: 30px;
	color: red;
	font-size: 18px;
	text-align: right;
}



.parent {
	background-color: #f5f5f5;
}

.searchDate div {
	float: left;
	width: 250px;
}

.searchDate div input {
	float: left;
}

.searchDate div span {
	display: inline-block;
	float: left;
}

.searchDate {
	height: 30px;
}

#collapseExample {
	height: 50px;
}

#collapseExample .well {
	padding: 0px;
}

.change form div.demoText {
	margin: 1rem 2rem 0 2rem;
}

/*.showTab {
	height: 258px;
}*/

.change form div.demoText label:nth-child(1) {
	width: 11rem;
	text-align: right;
	/*margin-right: 3rem;*/
}

.change form div.demoText input:nth-child(2) {
	width: 174px;
}

.change form div.demoText input.textLeft {
	width: 1rem;
}

.change form select {
	width: 174px;
	height: 24px;
}

#model-body {
	padding: 2rem 2rem 2rem 2rem;
}

.left {
	width: 14%;
	float: left;
}

.details {
	width: 86%;
	float: left;
}

.grid-title {
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	font-size: 30px;
	font-weight: 700;
}

.main-top{
	width: 86%;
	margin-left: 14%;
}
.search{
	min-width: 1300px;
	height: 50px;
}
.search-sp{
	float: left;
	width: 19%;
	margin-right: 20px;
}
.search-sp:nth-child(5){
	float: left;
	width: 10%;
}
.search-sp span{
	float: left;
}
.search-sp input{
	float: right;
}

.checkbox{
	display: inline;
}


/*.left div.left-s,
.details div.right {
	margin-bottom: 1.5rem;
	font-size: 20px;
	font-weight: 700;
}*/

/*.details> div span:nth-child(3),
.details> div span:nth-child(2) {
	font-size: 16px;
	font-weight: normal;
	margin-left: 7rem;
}*/

.details> div span:nth-child(2) select {
	width: 11rem;
	font-size: 16px;
}

.details> div span:nth-child(3) input {
	margin-left: .8rem;
}

.ztree li {
	/*line-height: 25px;*/
}

.ztree li a.curSelectedNode {
	height: 25px;
}

.ztree li a {
	height: 25px;
}

#metaDataTree span {
	font-size: 14px;
	font-weight: normal;
}

.showTab .change {
	/*width: 400px;
				height: 300px;*/
	display: none;
}

.showTab .current {
	display: block;
}

.div-center {
	text-align: center;
	font-size: 20px;
}

.modelUpdate,
.operUpdate,
.fnUpdate {
	float: left;
}

.operUpdate {
	margin-left: 2rem;
	margin-right: 2rem;
}

form div.demoText{
	float: left;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 800px;
		margin: 30px auto;
	}
}

@media (min-width: 768px) {
	.model-dialog3 {
		width: 400px;
		margin: 30px auto;
	}
}

/*@media (min-width: 768px){
.container {
    width: 466px;
	}
}

@media (min-width: 992px){
.container {
    width: 466px;
	}
}*/

.left_tree {
	height: 597px;
	overflow: auto;
}

.modelUpdate-title {
	padding: 2rem 0;
	text-align: center;
}

.modelUpdate-table {
	border: 1px solid #9D9D9D;
	width: 193px;
	height: 200px;
}


.modelUpdate-table tr td {
	border: 1px solid #9D9D9D;
	text-align: center;
}

.modelUpdate-table tr td a:nth-child(1) {
	margin-right: .5rem;
}

.modelUpdate-table tr td:nth-child(1) {
	display: none;
}

.modelUpdate-table tr {
	height: 26px;
}

.table-show {
	height: 200px;
	width: 210px;
	overflow-y: auto;
}

.modelUpdate-table tr td a {
	cursor: pointer;
}


/*通用模块维护*/

.modelBoggle {
	font-size: 16px;
	font-weight: 500;
}

.modelBoggle select {
	width: 18rem;
}

.main{
	/*width: 500px;*/
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.areaDiv{
	height: 35px;
}

.areaDiv label{
	width: 36%;
	text-align: right;
}

/*修改bug*/
.sectionData{
	display:inline-block;
}






