*{margin:0;padding:0;}
body{font:16px/1.5em Tahoma, sans-serif;background: #F6F6F6;font-size: 14px;}
a{text-decoration: none;color: #000;font-size: 14px;}
.wrap {min-width: 1131px;}

/*右边 列表*/
div.main {width: 300px;float: right;margin-top: 20px;margin-right: 5px;}
div.main .jichu,div.main .baobiao {width: 100%;border: 1px solid gainsboro;clear:both;margin-bottom: 20px;}
div.main .jichu .jTop,div.main .baobiao .bTop {width: 290px;height: 40px;line-height: 40px;background: #4f6e92;color: white;padding-left: 10px;}
/*div.main .jichu .jLeft,div.main .baobiao .bLeft {width: 50%;float: left;}*/
/*div.main .jichu .jRight,div.main .baobiao .bRight {width: 49%;float: right;}*/
div.main .jichu .jLeft,div.main .baobiao .bLeft {width: 48%;float: left;}
div.main .jichu .jRight,div.main .baobiao .bRight {width: 48%;float: right;}
div.main a {display:inline-block;margin-left: 10px;text-decoration: none;height: 35px;line-height: 35px;color: #000;font-size: 14px;width: 140px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
/*div.main .jichu .jLeft,div.main .jichu .jRight,div.main .baobiao .bLeft,div.main .baobiao .bRight {display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: space-around;align-items: baseline;}*/
div.main .jichu .jLeft,div.main .jichu .jRight,div.main .baobiao .bLeft,div.main .baobiao .bRight {display:inline-block;}
.borderR {border-right: 1px solid #cfcfcf;}
.borderL {border-left: 1px solid #cfcfcf;}

/*左边 图标*/
/*.picLeft {margin-top: 80px;margin-left: 10%;float: left;width: 60%;display: flex;justify-content: space-between;}*/
.picLeft {float:left;width:auto;margin-top: 80px;margin-left: 10%;}
.picLeft .tubiao {width: 160px;height: 80px;text-align: center;}

.aTubiao:hover {color: #699de8;}
.picLeft .jiantou {/*margin: 0 4%;*/width: 45px;height: 80px;}
.picLeft .jiantou img {margin-top: 33px;}
.jiantouV {height:62px;padding-top: 18px;width: 160px;text-align: center;}
.aTubiao img {height: 48px;}
/*清除浮动*/
/*.first,.second,.third,.four,.five {overflow: hidden;}*/
a:link,a:visited,a:hover {text-decoration: none;}
/*.first,.second,.third,.four,.five,.six,.seven {display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: space-between;align-items: baseline;}*/
.first,.second,.third,.four,.five,.six,.seven {float:left;}
.first,.second,.third,.four,.five,.six,.seven {position: relative;}
.first .lineL {position: absolute;top: 30px;right: 15px;height: 170px;}
.first .lineL img,.third .lineRB img,.third .lineLB img,.first .lineRs img,.third .lineLs img,.seven .lineLs3 img  {height: 100%;}
.third .lineRB {position: absolute;top: 30px;left: 15px;height: 345px;}
.third .lineLB {position: absolute;top: 30px;right: 15px;height: 345px;}

.first .lineRs {position: absolute;top: 30px;right: 15px;height: 345px;}
.third .lineLs {position: absolute;top: 30px;left: 15px;height: 345px;}
.seven .lineLs3 {position: absolute;top: 30px;left: 15px;height: 170px;}
.third .lineW {position: absolute;top: 30px;left: 130px;height: 115px;min-width: 152px;}
.third .lineW img {width: 100%;height: 100%;}

/*下拉按钮样式调整*/
.btn-group > .btn { padding: 0px 4px;background-color: #eeefef;border-color: #d8d8d8;line-height: 12px;}
.btn-group {top: -52px;right: -45px;}

/*.first:after {content: '';background-image: url(../images/caiwu/lineL.png);}*/

@media screen and (max-width: 1920px) {
    .picLeft {
        margin-left:11%;
    }
}
@media screen and (max-width: 1366px) {
    .picLeft {
        margin-left:8%;
    }
}
@media screen and (max-width: 1280px) {
    .picLeft {
        margin-left:6%;
    }
}

