#shade{
	height: 100%;
	width: 100%;
	background: rgba(211,217,214,1);
	position: absolute;
	z-index: 10;
	display: block;
	left: 0;
	top: 0;
}

#shade-box .shade-main hr{
	margin: 0 0 10px 0;
}

#shade-box{
	position: absolute;
	z-index: 15;
	height: 589px;
	width: 684px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: white;
}

#shade-box .shade-title{
	background: #426d97;
	height: 40px;
	width: 684px;
	color: #fff;
	position: relative;
	padding: 14px 20px 10px;
}

#shade-box .shade-title .shade-close{
	position: absolute;
	right: 20px;
	cursor: pointer;
}

#shade-box .shade-main{
	height: 549px;
	width: 684px;
	padding: 20px;
}

#shade-box .shade-main .shade-mainleft{
	height: 459px;
	width: 148px;
	border: 1px solid #cfcfcf;
	float: left;
	margin-right: 20px;
}

#shade-box .shade-main .shade-mainright{
	float: left;
	height: 459px;
	width: 476px;
	border: 1px solid #cfcfcf;
	font-size: 14px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-nav{
	height: 28px;
	width: 475px;
	border-bottom: 1px solid #ccc;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(#dbdbdb));
}

#shade-box .shade-main .shade-mainleft .shade-mainleft-nav{
	height: 28px;
	line-height:28px;
	border-bottom: 1px solid #ccc;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(#dbdbdb));
}

#shade-box .shade-main .shade-mainleft .shade-mainleft-nav span{margin-left:15px;cursor:pointer;}

#shade-box .shade-main .shade-mainright .shade-mainright-nav ul{
	height: 28px;
	width: 475px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-nav ul li{
	cursor: pointer;
	border-right: 1px solid #ccc;
	height: 28px;
	line-height: 28px;
	float: left;
	padding: 0px 12px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-nav .bgcolor{
	height: 28px;
	background: white;
}

/*过滤条件页面*/
#shade-box .shade-main .shade-mainright .shade-mainright-pageA{
	padding: 20px 19px;
	width: 474px;
	height: 430px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageA .bloc
,#shade-box .shade-main .shade-mainright .shade-mainright-pageA .company

,#shade-box .shade-main .shade-mainright .shade-mainright-pageA .subject
,#shade-box .shade-main .shade-mainright .shade-mainright-pageA .digest
,#shade-box .shade-main .shade-mainright .shade-mainright-pageA .source{
	padding-left: 34px;
}
#shade-box .shade-main .shade-mainright .shade-mainright-pageA .period{padding-left:62px;}

#shade-box .shade-main .shade-mainright .shade-mainright-pageA .bloc
,#shade-box .shade-main .shade-mainright .shade-mainright-pageA .period
,#shade-box .shade-main .shade-mainright .shade-mainright-pageA .branch
,#shade-box .shade-main .shade-mainright .shade-mainright-pageA .level
,#shade-box .shade-main .shade-mainright .shade-mainright-pageA .nocharge
,#shade-box .shade-main .shade-mainright .shade-mainright-pageA .digest
,#shade-box .shade-main .shade-mainright .shade-mainright-pageA .source{
	margin-bottom: 10px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageA .wnum{
	height: 28px;
	width: 332px;
	padding: 0 3px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageA .snum{
	height: 32px;
	width: 159px;
	padding: 0 3px;
	padding-right:21px;
	border-radius:5px;
}


#shade-box .shade-main .shade-mainright .shade-mainright-pageA .subject{
	position: relative;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageA .subject span{
	position: absolute;
	cursor: pointer;
	top: 6px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageA .subject .subspanA{
	left: 242px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageA .subject .subspanB{
	left: 414px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageA .mr{
	margin-right: 21px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageA .mc{
	margin-right: 21px;
}


/*表头二次过滤页面*/
#shade-box .shade-main .shade-mainright .shade-mainright-pageB{
	display: none;
	padding: 20px 19px;
	width: 434px;
	height: 390px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageB table tr td{
	border: 1px solid #cfcfcf;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageB table{
	width: 434px;
	text-align: center;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageB .trnav{
	height: 40px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageB .tr-1,#shade-box .shade-main .shade-mainright .shade-mainright-pageB .tr-2,#shade-box .shade-main .shade-mainright .shade-mainright-pageB .tr-3{
	height: 38px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageB table tr td:nth-child(1){
	width: 40px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageB table tr td:nth-child(2){
	width: 150px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageB table tr td:nth-child(3){
	width: 80px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageB table tr td:nth-child(4){
	width: 60px;
}

#shade-box .shade-main .shade-mainright .shade-mainright-pageB table tr td:nth-child(5){
	width: 98px;
}

/*页面底部*/
#shade-box .shade-main .shade-footer{
	width: 644px;
	height: 48px;
	padding: 10px 0;
	text-align: center;
	clear: both;
}

#shade-box .shade-main .shade-footer button{
	height: 28px;
	width: 60px;
	border-radius: 6px;
	background: #eaeaea;
	border: 0;
	cursor: pointer;
}

#shade-box .shade-main .shade-footer .sure{
	background: #3d7bb7;
	color: white;
	margin-right: 20px;
}
