.ant-menu {
  border: none;
}
.logo {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  color: blue;
}
.logo img {
  height: 50px;
  width: 50px;
}
.logo h3 {
  display: inline-block;
  color: #61dafb;
}
