/*
验证
*/
.help-block{
	margin-left:150px;
}
.row{
	margin-bottom:0px !important;
}
.well{
	border:0px !important;
}
.glyphicon-remove,.glyphicon-ok{
	margin-right:-30px;
}
.glyphicon-plus-sign{
	margin-right:15px;
}


.ui-th-ltr{text-align:center;}
.grid-title {
	clear: both;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
.grid-head{
	width: 100%;
	font-size:16px;
	height:30px;
}
.grid-head .grid-date{
	display:inline-block;
	float:left;
	padding-left:20px;
}
.grid-head .grid-yuan{
	display:inline-block;
	float:right;
	padding-right:30px;
}
.grid-status{
	position:absolute;
	top:60px;
	right:50px;
	width:500px;
	height:30px;
	color:red;
	font-size:18px;
	text-align: right;
}
.gongH{cursor:pointer;}
.parent{
	background-color:#f5f5f5;
}
.searchDate div{
	float: left;
	width: 250px;
}
.searchDate div input{
	float: left;
}
.searchDate div span{
	display:inline-block;
	float: left;
}
.searchDate{
	height: 30px;		
}
/**/
.YFhide{display:none;}
.textYF{
	height: 34px !important;
}
.glyphicon-trash,.unitCh{cursor: pointer;}
.bodyModel{
	border: 1px solid #cfcfcf;
	min-width: 1175px;
	height: auto;
}
/*表头的按钮*/

.btn-group>button{
	background-image:url(../../images/btnboxbg.png);
    text-align: left;
    border: 0;
}
.btnHundred{
	width: 100%;
	margin-bottom: 20px;
	height: 30px;
    line-height: 30px;
     text-align: left;
    background-image:url(../../images/btnboxbg.png);
}
.btn{
	padding: 5px 12px;
}
.spmcCheck,.numberCheck{cursor:pointer;}
/*查询条件*/
 .well{
 	padding: 0;
    min-width: 1175px !important;
 }
 .Zpercent{
    width: 25%;
    float: left;
}
/******中间区域开始******/
.btn2{
	padding: 6px 12px;
}
.YFcenter{
	border-top: 1px solid #cfcfcf;
	/*padding: 10px;*/
	min-width: 1175px !important;
}
.box_text>em{color: red;}
.container-fluid{
	padding-right: 0px;
    padding-left: 0;
	width: 90%;
    margin: 0;
}
.oneTier,.twoTier,.threeTier,.fourTier{
	border-bottom: 1px solid #cfcfcf;
}
.footYF{
	margin-top: 20px;
}
.YFbtnHied1,.YFbtnHied2,.YFbtnHied3,.TShide{display: none;}
/*点击生成**/
.XFinput{
	width: 100px;
	height: auto;
	max-height: 50px;
	margin-left: -10px;
    padding-left: 5px;
}
/*.none-left{float: left;line-height: 34px;}	*/		
/*模糊查询显示的div*/
/*.noneHeight{
	height: 46px;
}*/
.yfRelative{position: relative;}
.none-cx{
	width: 100%;
	position: absolute;
	z-index: 99;
	background: #F4F8FA;
	height: auto;
	border: 1px solid #dfdfdf;
}
.none-cx>p{
	margin:0px;
	height:25px;
	padding-left:8px;
}
.none-cx>ul>li{
	padding-left: 5px;
	line-height: 25px;
	height: 25px;
}
.none-cx>ul{
	margin-bottom:0;
}
.yfdelect{
	float: right;
	margin-right: 10px;
	line-height: 25px;
	height: 25px;
}

.yfVAR,.yfdelect{cursor: pointer;}
/*押金预收款*/
.details .moneyTab tr td,
.details .moneyTab tr th {
	border: 1px solid #cfcfcf;
	text-align: center;
	height: 40px;
}

.details .moneyTab tr td:nth-child(1),
.details .moneyTab tr th:nth-child(1) {
	width: 100px;
}

.details .moneyTab tr td:nth-child(2),
.details .moneyTab tr th:nth-child(2) {
	width: 130px;
}

.details .moneyTab tr td:nth-child(3),
.details .moneyTab tr th:nth-child(3) {
	width: 100px;
}

.details .moneyTab tr td input {
	width: 100px;
	height: 40px;
	border: 0;
}
/**/
.details .moneyTabYJ tr td,
.details .moneyTabYJ tr th {
	border: 1px solid #cfcfcf;
	text-align: center;
	height: 40px;
}

.details .moneyTabYJ tr td:nth-child(1),
.details .moneyTabYJ tr th:nth-child(1) {
	width: 100px;
}

.details .moneyTabYJ tr td:nth-child(2),
.details .moneyTabYJ tr th:nth-child(2) {
	width: 130px;
}

.details .moneyTabYJ tr td:nth-child(3),
.details .moneyTabYJ tr th:nth-child(3) {
	width: 100px;
}

.details .moneyTabYJ tr td input {
	width: 100px;
	height: 40px;
	border: 0;
}
.goodsFilter{cursor: pointer;}
/******中间区域结束******/
.overflAuto {overflow: auto;}
.jqGrid_wrap>input{
	margin-bottom: 10px;
	width: 150px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #d3d3d3;
}
/*弹出框样式*/
.modal-header{
	background-color: #4e78a1;
	height: 40px;
	padding: 10px;
	color: #fff;
}
.modal-header>button.close>span{color: #fff;}
.btn-info{
	border: 1px solid #457bb0;
	border-radius: 4px;
	background: -webkit-linear-gradient(#629bd4,#4e78a1); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#629bd4,#4e78a1); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#629bd4,#4e78a1); /* Firefox 3.6 - 15 */
    background: linear-gradient(#629bd4,#4e78a1); /* 标准的语法（必须放在最后） */
}
.btn-info:hover{
	border: 1px solid #457bb0;
	border-radius: 4px;
	background: -webkit-linear-gradient(#629bd4,#4e78a1); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#629bd4,#4e78a1); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#629bd4,#4e78a1); /* Firefox 3.6 - 15 */
    background: linear-gradient(#629bd4,#4e78a1); /* 标准的语法（必须放在最后） */
}
.btn-success{
	border: 1px solid #457bb0;
	border-radius: 4px;
	background: -webkit-linear-gradient(#629bd4,#4e78a1); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#629bd4,#4e78a1); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#629bd4,#4e78a1); /* Firefox 3.6 - 15 */
    background: linear-gradient(#629bd4,#4e78a1); /* 标准的语法（必须放在最后） */
}
.btn-success:hover{
	border: 1px solid #457bb0;
	border-radius: 4px;
	background: -webkit-linear-gradient(#629bd4,#4e78a1); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#629bd4,#4e78a1); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#629bd4,#4e78a1); /* Firefox 3.6 - 15 */
    background: linear-gradient(#629bd4,#4e78a1); /* 标准的语法（必须放在最后） */
}
.btn-warning{
	background: #ededed;
	border-radius: 4px;
	border: 1px solid #d3d3d3;
	color: #000;
}
.btn-warning:active{
	background-color: #ededed;
	border-radius: 4px;
	border: 1px solid #d3d3d3;
	color: #000;
}
.btn-warning:hover{
    background: #ededed;
	border-radius: 4px;
	border: 1px solid #d3d3d3;
	color: #000;	
}
/*.btn{
	padding: 5px 12px;
}*/
/*页脚*/
.footer{
	height: 30px;
	min-width: 1300px;
	margin-top: 50px;
}

.footer > div{
	float: left;
	margin-left: 30px;
}

.footer > div input{
	width: 150px;
}
.tradeSPMC,.wanglai2{cursor: pointer;}
/*弹出框*/
@media (min-width: 768px){
 .modalSmall{
	width: 300px !important;
    margin: 30px auto !important; 
  }
}
@media (min-width: 768px){
 .modalFour{
	width: 400px !important;
    margin: 30px auto !important; 
  }
}
@media (min-width: 768px){
	.modalYQ{
	    width: 940px;
	    margin: 30px auto;
	}
}
@media (min-width: 768px){
	.modalYQ1{
	    width: 700px;
	    margin: 30px auto;
	}
}
@media (min-width: 768px){
	.modalNine{
		width: 1100px;
	}
}
@media (min-width: 768px){
    .modal990{
    width: 600px;
    margin: 30px auto;
    }
}
.TCkuai{
	margin-bottom: 10px;
	display: inline-block;
}
.TCkuai>input{
	width: 150px;
	height: 34px;
	border: 1px solid #cfcfcf;
	margin-left: 10px;
	border-radius: 4px;
}
/*商品名称*/
.left_tree {
    height: 450px;
    overflow: auto;
}
.tranLeft {
	width: 15%;
	float: left;
	/*margin-top: 32px;*/
}

.right-body{
	float: right;
}
/*单据引入*/
.forward{
	text-align: left !important;
}
.inputTab{
    float: left;
     height: 35px; 
    line-height: 35px;
    text-align: right;
    margin-right: 10%;
    margin-bottom: 20px;
}
.inputTab>span>input{
	width: 150px;
	height: 35px;
}
.inputTab>span>select{
	width: 150px;
	height: 35px;
}
.slectDome{
	width: 150px;
	height: 35px;
}
.next-modal{
    padding: 15px;
    overflow:scroll;
    height: 230px;
}
.next-include{
	padding: 15px;
    overflow:scroll;
	height: 230px;
}
#cb_jqGrid_tranBills{display: none;}
#jqGrid_tranBills>tbody>tr>td>input{cursor: pointer;margin: auto;}
#jqGrid_tranDetail>tbody>tr>td>input{cursor: pointer;margin: auto;}
.next-modal2>h4{margin: 20px 20px 20px 10px;}






