.ui-th-ltr {
	text-align: center;
}

.grid-title {
	clear: both;
	font-size: 24px;
	text-align: center;
	width: 100%;
}

.grid-head {
	width: 100%;
	font-size: 16px;
	height: 30px;
}

.grid-head .grid-date {
	display: inline-block;
	float: left;
	padding-left: 20px;
}

.grid-head .grid-yuan {
	display: inline-block;
	float: right;
	padding-right: 30px;
}

.grid-status {
	position: absolute;
	top: 60px;
	right: 50px;
	width: 500px;
	height: 30px;
	color: red;
	font-size: 18px;
	text-align: right;
}

.parent {
	background-color: #f5f5f5;
}

.searchDate div {
	float: left;
	width: 250px;
}

.searchDate div input {
	float: left;
}

.searchDate div span {
	display: inline-block;
	float: left;
}

.searchDate {
	height: 30px;
}



/*页脚*/
.footer{
	height: 30px;
	min-width: 1300px;
}

.footer > div{
	float: left;
	margin-left: 30px;
}

.footer > div input{
	width: 150px;
}


.tip {
    width: 150px;
    border: 1px solid;
    height: 40px;
    position: relative;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.tip .tip_p{
	width: 80px;
	height: 20px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	color: red;
}

@media (min-width: 768px) {
	.model-dialog1 {
		width: 900px;
		margin: 30px auto;
	}
}

@media (min-width: 768px) {
	.model-dialog2 {
		width: 700px;
		margin: 30px auto;
	}
}

@media (min-width: 768px) {
	.model-dialog3 {
		width: 400px;
		margin: 30px auto;
	}
}

@media (min-width: 768px) {
	.model-dialog4 {
		width: 1100px;
		margin: 30px auto;
	}
}

.left {
	width: 15%;
	float: left;
	margin-top: 32px;
}

.left_tree {
	height: 450px;
	overflow: auto;
}

.details {
	width: 85%;
	float: left;
}
.details1 {
	margin-top: 31px;
}

.ztree li {
	line-height: 25px;
}

.ztree li a.curSelectedNode {
	height: 25px;
}

.ztree li a {
	height: 25px;
}

.details .right button:nth-child(2){
	margin-left: 380px;
}

.details .right{
	height: 40px;
}

.unitCh,.checkName,.goodsName,.goodsCheck{
	cursor: pointer;
}

.showTab .current div button:nth-child(4){
	margin-left: 150px;
}

.details .moneyTab{
	/*border: 1px solid #333333;*/
}

.details .moneyTab tr td,.details .moneyTab tr th{
	border: 1px solid #333333;
	text-align: center;
}

.details .moneyTab tr td:nth-child(1),.details .moneyTab tr th:nth-child(1){
	width: 100px;
}

.details .moneyTab tr td:nth-child(2),.details .moneyTab tr th:nth-child(2){
	width: 130px;
	/*text-overflow: ellipsis; 
	overflow: hidden; 
	display: block; 
	height: 25px;
	white-space: nowrap; */
}

.details .moneyTab tr td:nth-child(3),.details .moneyTab tr th:nth-child(3){
	width: 100px;
}

.details .moneyTab tr td input{
	width: 100px;
}

.radio, .checkbox{
	display: inline-block;
}

.change form div.demoText {
	margin: 1rem 0rem 0 0rem;
}

form div.demoText{
	float: left;
}

.change form div.demoText label:nth-child(1) {

	text-align: right;
	/*margin-right: 3rem;*/
}

.change form div.demoText input:nth-child(2) {
	width: 14.5rem;
}

.unitClazz{
	float: right;
}

.unitClazz label{
	font-size: 16px;
}

#tables tr td{
	height: 40px;
	text-align: center;
	vertical-align: middle;
}

#tables tr td select{
	height: 30px;
	width: 160px;
}

#tables tr td input{
	padding: 0 3px
}

#tables tr td input[name=feeAmount],#tables tr td input[name=caption],#tables tr td input[name=attachBills]{
	width: 160px;
	height: 30px;
}

#amount{
	text-align: left!important;
}

#amountInput{
	height: 30px;
    width: 158px;
}

#tables tr td:nth-child(1){
	width: 150px;
}

#tables tr td:nth-child(2){
	width: 240px;
}

#tables tr td:nth-child(3),#tables tr td:nth-child(4){
	width: 200px;
}

.input-group-btn {
    border: 1px solid #CECECE;
}
