<!DOCTYPE html>
<html class="borderbox">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
  <meta name="renderer" content="webkit">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="卡仓网">
  <meta name="keywords" content="卡仓网">
  <script>
    var configs = {
      baseURL: 'http://115.29.168.166:14003/', // 卡仓测试环境
      // baseURL: 'http://10.0.10.140:14003/', // 卡仓测试环境
      // baseURL: 'http://logintest.fulu.com',  // 线上环境
      // baseURL: 'http://10.0.10.51:14003',  // 陈锋本地
      // baseURL: 'http://10.0.10.132:14003',  // 周睿本地
      // baseURL: 'http://10.0.10.116:14003',  // 陈清本地
      //baseURL: 'http://xush3005.mynatapp.cc',  // 徐爽本地
      // LOGIN: 'http://10.0.10.51:10000',     // 测试环境
      LOGIN: 'http://logintest.fulu.com',
      UploadFile: 'http://115.29.168.166:14003/FileUpload/ImgUpLoad' // 线上上传图片
      // UploadFile: 'http://10.0.10.51:14003/FileUpload/ImgUpLoad' // 陈锋本地上传图片
    };

    //判断ie版本
    var browser = navigator.appName
    var b_version = navigator.appVersion
    var version = b_version.split(";");
    var trim_Version = version[1].replace(/[ ]/g, "");
    var trim_Version_trans = trim_Version.substr(4)
    if (browser == "Microsoft Internet Explorer" && trim_Version_trans < 9) {
      window.location.href = "/update/update.html"
    }
  </script>
</head>

<body>
  <div id="app"></div>
</body>

</html>
