.ui-th-ltr{
					text-align: center;
				}
			.ztree li span.button{
				width:0;
				height:0;
			}
			@media (min-width: 768px) {
						.model-dialog1 {
							width: 1200px;
							margin: 30px auto;
						}
						.model-dialog2 {
							width: 700px;
							margin: 30px auto;
						}
						.model-dialog3 {
							width: 400px;
							margin: 30px auto;
						}
				}
				.changeMargin{
					margin-top:20px;
				}
.addMargin{
   margin-top:15px;
}
#modalGrid{
  overflow-x:scroll;
}
p{
	font-family: "Microsoft Yahei";
	font-size:20px;
	font-weight: bold;
}
/*修改的样式*/
.content{
	border:1px solid #ccc;	
}
.btn-group>button{
	background-image:url(../../images/btnboxbg.png);
    text-align: left;
    border: 0;
}
.btnHundred{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: left;
	background-image:url(../../images/btnboxbg.png);
	}
.Zpercent{
    width: 25%;
    float: left;
    margin-top:20px;
}
.Zpercent1{
    margin-left: 10px;
    width: 50%;
}
.form-control2 {
    display: block;
    min-width: 120px;
    width: 100%;
    height: 32px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.top{
	overflow:hidden;
}
.box_text2{
	min-width: 60px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.center {
    overflow:hidden;
}
.centerL {
    margin-top:20px;
    float:left;
    margin-right:20px;
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
    padding:10px;
    min-height:679px;
    width: 250px;
}
.centerR {
    
    overflow:hidden;
}
.GridWrap{
     clear:both;
    padding-top:20px;
  
}
.modal-header{
	background-color: #4e78a1;
	height: 40px;
	padding: 10px;
	color: #fff;
}
