.navTop{
				border:2px solid blue;
				color:blue;
				width:155px;
				height:40px;
				line-height: 40px;
				font-size: 30px;
				margin-bottom: 15px;
				display: block;
				margin-top:20px;
}
table>thead>tr>th{
	text-align: center;
}
*{
	font-family:"Microsoft Yahei";
}
	

@media (min-width: 768px) {
		.model-dialog1 {
			width: 900px;
			margin: 30px auto;
		}
		.model-dialog2 {
		    width: 700px;
			margin: 30px auto;
		}
		.model-dialog3 {
			width: 400px;
			margin: 30px auto;
		}
		.model-dialog4 {
			width: 1100px;
		    margin: 30px auto;
			}
}

.left {
	width:200px;
	float: left;
	margin-top: 32px;
}

.left_tree {
	height: 450px;
	overflow: auto;
}

.details {
	width:800px;
	float: left;
}

.details .right {
	height: 40px;
}
/*弹窗样式*/

        .rb_settle_con_back{
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
        }
        .rb_settle_con{
            position: relative;
            width: 700px;
            height: 540px;
            margin: 10% auto;
            background: #FFFFCC;
            overflow: hidden;
            padding: 10px;
            border: 1px solid #797979;
        }
        .settleTitle1{
            color: #953333;
            font-weight: bold;
            font-size: 14pt;
        }
        .settleTitle2{
            color: blue;
            font-weight: bold;
        }
        .width300{
            width: 100%;
            height: 30px!important;
            max-width: 300px!important;
        }
        .width100{
            width:88px;
            height: 30px!important;
        }
        /*pos弹框*/
        .table_pos_con{
            position: absolute;
            background: #fff;
            display: none;
        }
        #table_pos tr td{
            text-align: center;
        }
        #table_pos_x{
            position: absolute;
            right: -10px;
            top: 0;
            background: #fff;
            cursor: pointer;
            padding: 0 2px;
        }
        /*促销券弹框*/
        .table_coupons_con{
            position: absolute;
            background: #FFFF99;
            display: none;
        }
        #table_coupons_x{
            position: absolute;
            right: -31px;
            top: 0;
            background: #fff;
            cursor: pointer;
            padding: 0 2px;
        }

/*头部的导航样式*/
.btn-group>button{
	background-image:url(../../images/btnboxbg.png);
    text-align: left;
    border: 0;
}
.btnHundred{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: left;
	background-image:url(../../images/btnboxbg.png);
}
.well{
 	padding: 0;
    min-width: 1175px !important;
 }
 .inputbox>div>div>.box_input {
 	display: block;
 	margin-left: 150px;
 	height: 35px;
 	line-height: 35px;
 	width: 200px;
 	}
.box_text {
	float: left;
	width: 150px;
	height: 35px;
	line-height: 35px;
	text-align: right;
}
.box_input {
 	display: block;
 	margin-left: 150px;
 	height: 35px;
 	line-height: 35px;
 	width: 200px;
 	}
.formWrap{
	float:left;
	width:30%;
	height:20px;
}
.formWrap::after{
	display:block;
	content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
}
.formWrap>span{
	float:left;
	height:100%;
	width: 27%;
	text-align: right;
	line-height: 20px;
}
.formWrap>.inputWrap{
	width: 60%;
	margin-left: 2%;
	height:100%;
	float:left;
}
.formWrap>.inputWrap>select{
	width:100%;
	height: 25px;
}
.btnColor{
	background-color:#4f6e92;
}
.changeMargin{
	margin-top:20px;
	margin-bottom:20px;
}
.table th, .table td { 
text-align: center; 
}
.returnPops{
	height:370px;
}
.btnWrap{
	float: left;
	width: 5%;
}
.btnMargin{
	margin-left:20px;
}
