#newsBanner{
    width: 100%;
}
#newsBanner>img{
    width: 100%;
}
#newsNowPos{
    width: 100%;
    background: #eee;
    border-bottom: 3px solid #00CAE7;
    min-width: 261px;
}
#newsNowPos p{
    background: #00CAE7;
    text-align: left;
    display: inline-block;
    margin: 0;
    color: #fff;
}
#newsNowPos p img{
    width: 40px;
    height: 40px;
}
#newsTopImgs{
    line-height: 50px;
    margin: 0 auto;
}
.newsTopImg{
    background: #eee;
}
.newsTopImg img{
    width: 20px;
}
.newsDetailImg{

}
.newsDetailImg img{
    width: 100%;
}
.newsDetailTxt p{
    text-align: left;
    font-weight: bold;
}
.newsDetailTxt span{
    text-indent: 2em;
    display: block;
    font-size: 11pt;
}
.xuhr{
    border-bottom: 1px dashed #ddd;
    padding: 40px 0;
}