@CHARSET "UTF-8";
#mainDIV{
	height: 100%;position: absolute;overflow-y: scroll;width: 100%;
}
.ztree{
	width: 330px;height: 500px;
}
.modal-body{
	width: 100%;
}
.table-bordered{
	width: 100%;
}
html,body{
	width: 100%;height: 100%;margin: 0px;padding: 0px;font-family:"微软雅黑"; overflow: hidden;
}
.modal-dialog {
	width: 800px;max-height: 400px;
}
ul .ztree{
	border: 1px gray #ddd;
}
.tint-background{
	background-color: #f0fff0;
}
.btn-group {
  width: 100%;
  height: 3rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7), to(#E6E6E6));
}
.btn-group ul li {
  list-style: none;
  float: left;
  line-height: 3rem;
  margin: 0 1rem 0 1rem;
}
.btn-group ul li:hover {
  cursor: pointer;
}
.claChoose {
  position: relative;
}
.claChoose .cla-ul {
  position: absolute;
  top: 100%;
  left: 0rem;
  display: none;
  text-align: left;
  background: white;
  border: 1px solid #D5D5D5;
  border-radius: 0 0 .5rem;
  box-shadow: .2rem .2rem 2rem #D5D5D5;
  width: 12rem;
}
.claChoose .cla-ul li:nth-child(1) {
  padding: .2rem 0;
}
.claChoose:hover .cla-ul {
  display: block;
}
.btn-group,
#subject-top,
#subject-bottom {
  min-width: 1300px;
}
#bgD7EBF9 {
  background: #D7EBF9;
}
#bgFFF7AD {
  background: #FFF7AD;
}
.SelectBG {
  background-color: #EBEBEB;
}
.sub-none {
  display: none;
}
#subject-top {
  height: 6rem;
  width: 100%;
  border-bottom: 1px solid #B0B0B0;
}
#subject-top #subject-top-na {
  /*line-height: 3rem;*/
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}
#subject-top #subject-top-search {
 /* line-height: 3rem;*/
  width: 100%;
  padding-left: 5rem;
}
#subject-top #subject-top-search .readOnly {
  height: 22px;
  width: 20%;
  max-width: 248px;
  color: #000000;
  background-color: #e6e6e6;
  box-sizing: border-box;
  font-size: 14px;
  cursor: default;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #b0b0b0;
}
#subject-top #subject-top-search .sub-comp {
  font-size: 14px;
  height: 22px;
  width: 8%;
  max-width: 248px;
  margin-right: 4rem;
}
#subject-top #subject-top-search input {
  margin-left: .5rem;
  margin-right: 4rem;
}
#subject-top #subject-top-search select {
  margin-right: 4rem;
}
#subject-bottom {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #B0B0B0;
}
#subject-bottom div {
  flex-grow: 1;
}
.form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
}

.modal-header {
    background-color: #426d97;
    color: white;
}
.close {
	color: white;
	}
.heJiRow{
  background-color:rgb(215, 234, 249);	
}
.leiJiRow{
  background-color:rgb(254, 246, 172);	
}